/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.link {
  text-decoration: none;
  color: white;
}
.App {
  margin-left: 5%;
}
.storeLogo {
  display: flex;
  align-items: center;
  margin-bottom: 4%;
  margin-right: 8%;
  margin-top: 2%;
}

.storeName {
  color: gray;
  margin-left: .4em;
}

.products {
  margin-left: 1.5em;
}

.paymentMethodbtn {
  width: 180px;
  text-transform: capitalize !important;
}

.paper {
  padding: 6%;
}

.required {
  color: #ff5349;
}

.termsAndCondition {
  padding: 2;
}

.cardInput {
  height: 35px;
}

.cvc {
  margin-top: 12.8%;
}

.cvvCardInput {
  height: 35px;
  width: 90px;
}

.cvcTooltip {
  background-color: lightgray;
  width: 20px;
  text-align: center;
  border-radius: 50%;
  padding: 1%;
}
.cvcTooltip:hover {
  cursor: help;
}
.cardValidInput {
  height: 33px !important;
}

.termsAndCondition {
  display: flex;
  align-items: center;
  padding: 1%;
  background-color: rgb(247, 248, 248);
}

.orderBtn {
  background-color: #ff5319;
  color: white;
  height: 50px;
  width: 100%;
  border: none;
  border-radius: 5px 5px 5px 5px;
  font-size: medium;
}
.orderBtn:hover {
 cursor: pointer;
}

.terms {
  border-bottom: .5px dotted gray;
  color: rgba(48, 45, 45, 0.897);
}
.terms:hover {
  cursor: pointer;
}